@model Employee

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Employee</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="mb-3 row p-1">
            <label asp-for="FirstName" class="p-0"></label>
            <input asp-for="FirstName" type="text" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="LastName" class="p-0"></label>
            <input asp-for="LastName" type="text" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="PhoneNumber" class="p-0"></label>
            <input asp-for="PhoneNumber" type="text" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="DateOfEmployment" class="p-0"></label>
            <input asp-for="DateOfEmployment" type="text" class="form-control" />
            <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ShopId" class="p-0"></label>
            <input asp-for="ShopId" type="text" class="form-control" />
            <span asp-validation-for="ShopId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="BakeryId" class="p-0"></label>
            <input asp-for="BakeryId" type="text" class="form-control" />
            <span asp-validation-for="BakeryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="StorageId" class="p-0"></label>
            <input asp-for="StorageId" type="text" class="form-control" />
            <span asp-validation-for="StorageId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SalaryId" class="p-0"></label>
            <input asp-for="SalaryId" type="text" class="form-control" />
            <span asp-validation-for="SalaryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="RoleId" class="p-0"></label>
            <input asp-for="RoleId" type="text" class="form-control" />
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partian name="_ValidationScriptsPartial" />
    }
            }